body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
}

.grid-item-graph{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 850px;
  height: 250px;
}
.grid-item-list{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: 250px;
}
.grid-item-table{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 850px;
  height: 250px;
}
.grid-item-dropoff{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
  width: 200px;
  height: 100px;
}

.inner-grid {
  background-color: green;
  height: 250px;
}